html  {
    height: 100%;
    font-size: 50%;  /* 62.5% of 16px = 10px */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    background-image: url("../img/bgConnexion.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centre{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.p-x{
    margin-top: 130px;
}
/* fixer certains paramètres en fonction de la taille de l'écran
Extra small <576px	Small ≥576px	 Medium ≥768px Large ≥992px	 Extra large ≥1200px
*/

/* pour une taille inférieure à 576 px */
@media (max-width: 576px) {
    .masquer {
        display : none;
    }
    .card-columns {
        column-count: 1;
    }
}

/* à partir de 576 px */
@media (min-width: 576px) {
    html  { font-size: 75.0%;  /* 75% of 16px = 12px */}
    .card-columns {
        column-count: 2;
    }
}

/* à partir de 768 px  */
@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

/* à partir de 992 px  */
@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

/* à partir de 1200 px */
@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

/* à partir de 1600 px  */
@media (min-width: 1600px) {
    .card-columns {
        column-count: 5;
    }
}